.table-chi-tiet {
    width: 98%;
    margin: 15px 10px;
}

.title-list {
    font-size: 30px;
    text-transform: uppercase;
}

.action-buttons-mt {
    display: flex;
}

.action-buttons-mt Button {
    margin-right: 3px;
}


.detail-mt {
    margin-right: 5px;
}

.anhsach {
    width: 40px;
}

.search-ctpm {
    margin: 15px 60px;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
}

.form1-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #f3f0f0;
}

.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-row>div {
    margin: 0 10px;
    flex: 1;
}

.btn-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.info-table p {
    text-align: left;
}

.status-filter {
    margin: 20px 250px;
    text-align: center;
    align-items: center;
}

.status-filter .form-check {
    margin-right: 20px;
}

.status-filter .form-select {
    background-color: #ffffff;
    margin-right: 20px;
    width: 90px;
    font-size: 11px;
    height: 40px;
}
