.table-pm {
    left: 0;
    margin: 10px 0;
    width: 100%;
  }

  .title-list{
    text-align: center;
    color: #4CAF50;
  }
  
  .table thead th {
    background-color: whitesmoke;
    color: #495057;
    font-weight: bold;
    text-align: center;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: white;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .table td, .table th {
    text-align: center;
  }
  
  .table td {
    vertical-align: middle;
  }
  
  .action-buttons-book {
    display: flex;
  }
  
  .add-pm-button {
    margin-left: 10px !important;
    background-color: #28a745;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .add-pm-button:hover {
    background-color: #218838;
  }

  .pm-button-warning{
    margin-right: 5px;
  }
  
  /* Title style */
  .title-list {
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
    color: #343a40;
    font-weight: bold;
  }
  
  /* Search form container */
  .container1 {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
  }
  
  /* Search form styling */
  .filter-form1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .filter-form1 .form-control {
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 20px;
    border: 1px solid #e1e2e4;
    background-color: #ffffff;
  }
  
  .pm-img{
    width: 50px;
    height: 50px;
  }

  .pm-image-up{
    width: 50px;
  }