.title-profile{
    text-transform: uppercase;
    color:#218838;
}

.user-profile img{
    width: 100%;
    margin: 20px 60px;
    height: 400px;
}

.currentUser{
    text-align: center;
    margin: 10px 60px;
}

.about{
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

.hello-user{
    font-size: 25px;
    text-transform: uppercase;
    color: red;
    text-align: center;
}

.history-book{
    color:#218838;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    margin: 20px 20px;
    border-bottom: 1px solid #218838;
    width: 450px;
}

.change-password{
    margin-right: 10px;
}

.payment-button {
    display: flex;
    align-items: center; 
    width: 100%; 
    margin-bottom: 10px; 
}

.payment-button{
    height: 50px !important;
}

.payment-button img {
    width: 40px !important;
    margin-right: 10px;
}

.momo {
    background-color: #D82D8B;
}

.zalo {
    background-color: dodgerblue; 
}

.money {
    background-color: white; 
    color: #218838;
    border: 1px solid #218838;
}

.momo:hover {
    background-color: #bb2678;
}

.zalo:hover {
    background-color: rgb(14, 108, 202); 
}

.money:hover {
    background-color: #218838; 
}

.card-container{
    width: 97%;
    margin: 0 7px;
}

.book-card {
    width: 200px; 
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 0;
}

.book-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.book-card img {
    height: 200px;
    border-radius: 0;
}

.tenSach {
   font-size: 14px;
   color:red;
}

.date{
    font-size: 12px;
}

.text-danger {
    color: #dc3545; 
}

.text-success {
    color: #28a745;
}

.bg-warning {
    background-color: #ffc107; 
}

.btn-thanhtoan{
    width: 90%;
    height: 30px;
    font-size: 10px;
}

