.title-profile{
    text-transform: uppercase;
    color:#218838;
}

.user-profile img{
    width: 100%;
    margin: 20px 60px;
    height: 400px;
}

.currentUser{
    text-align: center;
    margin: 10px 60px;
}

.about{
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

.hello-user{
    font-size: 25px;
    text-transform: uppercase;
    color: red;
    text-align: center;
}

.history-book{
    color:#218838;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    margin: 20px 20px;
    border-bottom: 1px solid #218838;
    width: 450px;
}

.change-password{
    margin-right: 10px;
}

.payment-button {
    display: flex;
    align-items: center; 
    width: 100%; 
    margin-bottom: 10px; 
}

.payment-button{
    height: 50px !important;
}

.payment-button img {
    width: 40px !important;
    margin-right: 10px;
}

.momo {
    background-color: #D82D8B;
    border: 1px solid #D82D8B ;
}

.zalo {
    background-color: dodgerblue; 
}

.money {
    background-color: white; 
    color: #218838;
    border: 1px solid #218838;
}

.momo:hover {
    background-color: #9e1f65;
}

.zalo:hover {
    background-color: rgb(14, 108, 202); 
}

.money:hover {
    background-color: #218838; 
}

.book-img {
    height: 200px;
    border-radius: 0;
}

.table-history{
    font-size: 14px;
    width: 97%;
    margin-left: 20px;
}

.tenSach {
   font-size: 14px;
   color: rgb(8, 131, 253) !important;
   font-weight: 600 !important;
}

.date{
    font-size: 12px;
}

.text-danger {
    color: #dc3545; 
}

.text-success {
    color: #28a745;
}

.bg-warning {
    background-color: #ffc107; 
}

.btn-thanhtoan{
    width: 90%;
    height: 30px;
    font-size: 10px;
}

.sach-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

h5{
    font-size: 17px;
    margin: 10px 0;
    text-transform: uppercase;
    color: dodgerblue;
    font-weight: 600;
}

.sach-info {
    flex: 1; 
}

.sach-info p{
    padding: 5px; 
}

.sach-image {
    flex: 0 0 auto;
    text-align: right; 
}

.sach-image img {
    width: 200px; 
    height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.border-sach-info-container{
    width: 50%;
    border-top: 1px solid #f0f0f0;
}